<a href="https://colab.research.google.com/github/Bhanu9951/python-new/blob/module-3/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##read an entire text file.
import pandas
bhanu = {'companies':['flipkart','capgemni','Amazon','tcs'],'location':['vjy','Vsp','Blr','hyd']}
x = pandas.DataFrame(bhanu)
print(x)

  companies location
0  flipkart      vjy
1  capgemni      Vsp
2    Amazon      Blr
3       tcs      hyd

In [ ]:
##read the first n lines of a file.
import pandas as pd
bhanu = {'companies':['flipkart','capgemni','Amazon','tcs'],'location':['vjy','Vsp','Blr','hyd']}
x = pd.DataFrame(bhanu)
print(x)

  companies location
0  flipkart      vjy
1  capgemni      Vsp
2    Amazon      Blr
3       tcs      hyd

In [ ]:
##append text to a file and display the text.
import pandas as pd
marks = [98,32.9,41,28]
bhanu = pd.Series(marks)
print(bhanu)

0    98.0
1    32.9
2    41.0
3    28.0
dtype: float64

In [ ]:
##Read numbers from a file and write even and odd numbers to separate files.
import pandas as pd
marks = [98,32.9,41,28]
bhanu = pd.Series(marks)
print(bhanu)
print(bhanu[1])

0    98.0
1    32.9
2    41.0
3    28.0
dtype: float64
32.9

In [ ]:
##x Count characters, words and lines in a text file.
import pandas as pd
marks = [28, 29.5, 15]
bhanu = pd.Series(marks, index = ["bhanu1", "bhanu2", "bhanu3"])
print(bhanu)

bhanu1    28.0
bhanu2    29.5
bhanu3    15.0
dtype: float64

In [ ]:
##Write a Pandas program to read specific columns from a given excel file.
import pandas as pd
marks = [38, 29.5, 25]
bhanu = pd.Series(marks, index = ["bhanu2", "bhanu3", "bhanu4"])
print(bhanu)
print(mymarks["bhanu3"])

In [ ]:
##x To write a list to a file.
import pandas as pd
bhanu = {"d1": 12, "d2": 10, "d3": 8}
x = pd.Series(bhanu)
print(x)

d1    12
d2    10
d3     8
dtype: int64

In [ ]:
##Print only limited data as per the labels:
import pandas as pd
bhanu = {"d1": 12, "d2": 10, "d3": 8}
x = pd.Series(rakshi,index=["d1","d2"])
print(x)

d1   NaN
d2   NaN
dtype: float64

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
bhanu = {
  "Employees": ["bhanu2", "bhanu3", "bhanu4"],
  "Publications": [70, 30, 40]
}
x = pd.DataFrame(bhanu)
print(x)

  Employees  Publications
0    bhanu2            70
1    bhanu3            30
2    bhanu4            40

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
empPublications = {
  "Employees": ["Raman", "Ranjan", "Ramani"],
  "Publications": [50, 40, 45]
}
myvar = pd.DataFrame(empPublications,index=["2001","2002","2003"])
print(myvar)
print(myvar.loc["2001"])

     Employees  Publications
2001     Raman            50
2002    Ranjan            40
2003    Ramani            45
Employees       Raman
Publications       50
Name: 2001, dtype: object

In [ ]:
##Given is a dataframe showing the name, occupation, salary of people. Find the average salary per occupation.
import pandas as pd
df = pd.read_csv('bhanu.csv')
print(df.to_string())

In [ ]:
##x Given a CSV file or excel file to read it into a dataframe and display it.
import pandas as pd
df = pd.read_csv('bhanu.csv')
print(df)

In [ ]:
##x Given a dataframe, select rows based on a condition.
import pandas as pd
pd.options.display.max_rows = 9999
df = pd.read_csv(‘bhanu.csv’)
print(df)